.bg-custom{
    background-color: #303f9f;
}

.navbar .nav-item:hover .nav-link{
    background-color: white;
    color:#303f9f;
    border-radius:15px;
}


#toast {
	min-width: 300px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -125px;
	background: #333;
	padding: 10px;
	color: white;
	text-align: center;
	z-index: 1;
	font-size: 18px;
	visibility: hidden;
	box-shadow: 0px 0px 100px #000;
}

#toast.display {
	visibility: visible;
	animation: fadeIn 0.5, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from { 
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from { 
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}


/*header section css part*/
.header
{
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: black;
    display: flex;
    height: 100px;
    
}
.logo img{
    width: 50px;
    height: auto;
    margin-left: 90px;
    
}

.ul-nav{
    
    
     float:right;
     list-style-type: none;
     margin-top: 10px;
     margin-right: 10px;
     width: auto;
     font-size: 17px;
     width: 80%;
     height: 80px;
     line-height: 60px;
     padding-right: -10px;
     padding-left: 10px;
     margin: 20px;
     margin-top: 20px;
     justify-content: center;
     display: flex;
     display: inline-block;
     margin-left: 20px;
}


.navbar li a 
{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    justify-content: center;
    border-radius: 50px;
}

.navbar li a:hover
{
    background-color: white;
    color:#000;
}

li
{
    list-style: none;
    display: inline-block;
}
a
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.box
{
    background:black;
    height: 10px;
    display: flex;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 30px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.3);
    margin-right: 0px;
    margin-top: 0px;
    
}
.box:hover input
{
    width: 200px;
}
.box input
{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a .fas
{
    color: white;
    font-size: 18px;
}

