.bg-custom{
    background-color: #303f9f;
}

.navbar .nav-item:hover .nav-link{
    background-color: white;
    color:#303f9f;
    border-radius:15px;
}


#toast {
	min-width: 300px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -125px;
	background: #333;
	padding: 10px;
	color: white;
	text-align: center;
	z-index: 1;
	font-size: 18px;
	visibility: hidden;
	box-shadow: 0px 0px 100px #000;
}

#toast.display {
	visibility: visible;
	animation: fadeIn 0.5, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {from { bottom:0;
	opacity: 0;
}

to {
	bottom: 30px;
	opacity: 1;
}

}
@keyframes fadeOut {form { bottom:30px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}


<<<<<<< Updated upstream
=======
/*Navbar css part*/
>>>>>>> Stashed changes

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}

img
  {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }

nav
{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color:#000;
    z-index: 100;
}


nav .nav-bar
{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color:#000;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen
{
    color: #fff;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a
{
    font-size: 25px;
    font-weight: 500;
    color:#000;
    text-decoration: none;
}

.menu .logo-toggle
{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li
{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a
{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color:#fff;
    text-decoration: none;
    padding: 10px;
}
.nav-links li a:hover
{
    background-color: white;
    color:#000;
    border-radius:15px;
}

.nav-links li a::before
{
    
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:#fff;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before
{
    opacity: 1;
}


<<<<<<< Updated upstream
@media (max-width: 790px)
=======
@media (max-width: 790px) 
>>>>>>> Stashed changes
{
    nav .nav-bar .sidebarOpen
    {
        display: block;
    }

    .menu
    {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color:#000;
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu
    {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a
    {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle
    {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose
    {
        color:#000;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links
    {
        
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a
    {
        display: block;
        margin-top: 20px;
    }
   
}
.toggle:hover input
{
    width: 200px;
}
.toggle input
{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}